certifi==2026.5.20
charset-normalizer==3.4.7
idna==3.16
matplotlib==3.10.3
numpy==2.4.4
pandas==3.0.2
python-dateutil==2.9.0.post0
requests==2.34.2
seaborn==0.13.2
six==1.17.0
tzdata==2026.1
urllib3==2.7.0
